{% from '../macros/projectCard.njk' import projectCard %}

<div class="display-columns display-columns--two mt-lg">
    {% for card in archiveProjectCards %}
        {{ projectCard(
            title=card.title,
            description=card.description,
            imageUrl=card.imageUrl
        ) }}{% endfor %}
</div>
