<div class="display-columns display-columns--two mt-lg">
{% for card in testCards %}
    <div class="card">
        <h3 class="card__title">{{ card.title }}</h3>
        <div class="card__description">
            {{ card.description }}
        </div>
        <a href="{{ card.linkUrl }}" class="card__link">Read More</a>
    </div>
{% endfor %}
</div>
