{% from '../macros/testCard.njk' import testCard %}

<div class="display-columns display-columns--two mt-lg">
    {% for card in testCards %}
        {{ testCard(
            title=card.title,
            description=card.description,
            linkUrl=card.linkUrl
        ) }}
    {% endfor %}
</div>
