{% set navItems = collections.nav | eleventyNavigation %}
<nav role="navigation" aria-label="main navigation">
        <ul>
            {%- for item in navItems %}
                <li class="nav__item{{ ' active' if page.url === item.url }}">
                    <a href="{{ item.url }}" title="{{ item.key }}">{{ item.key }}</a>
                </li>
            {%- endfor -%}
        </ul>

    <div class="theme-toggle-container" title="High contrast theme">
            <span id="high-contrast-toggle">&#x2688;</span> <!-- Unicode icon -->
    </div>
</nav>
<script>
    // Check for no js
    function jscheck() {
        document.getElementsByTagName("BODY")[0].classList.remove("no-js");
    }

    // Theme toggle
    const toggle = document.getElementById("high-contrast-toggle");
    const body = document.body;

    // Check if the user has previously selected the high-contrast mode
    let isHighContrastMode = localStorage.getItem("highContrastMode") === "true";

    // Function to toggle high-contrast mode
    function toggleHighContrastMode() {
        isHighContrastMode = !isHighContrastMode;
        updateHighContrastMode();
    }

    // Function to update high-contrast mode
    function updateHighContrastMode() {
        if (isHighContrastMode) {
            body.classList.add("high-contrast");
            localStorage.setItem("highContrastMode", "true");
        } else {
            body.classList.remove("high-contrast");
            localStorage.setItem("highContrastMode", "false");
        }
        toggle.innerHTML = body.classList.contains("high-contrast") ? "&#x2686;" : "&#x2688;";

    }

    // Set the initial mode based on the user's preference
    updateHighContrastMode();

    toggle.addEventListener("click", function () {
        toggleHighContrastMode();
    });

</script>
