<div class="listening-module ml-auto mr-auto slide-up-half-slow">
    <h2 style="font-family: EB Garamond">Currently Playing:</h2>
    <div class="song">
        <img src="/assets/img/sunface.svg" alt="Album Cover" class="album-cover">
        <a href="https://emilrottmayer.bandcamp.com/track/k-e-y-s" target="_blank">
            <div class="song-info">
                <div class="song-title">K.E.Y.S (from Descend)</div>
                <p class="artist-name"> by Emil Rottmayer</p>
            </div>
        </a>
    </div>
</div>
