<div class="listening-module ml-auto mr-auto slide-up-half-slow">
    <h2 style="font-family: EB Garamond">Currently Playing:</h2>
    <div class="song">
        <img src="/assets/img/sunface.svg" alt="Album Cover" class="album-cover">
        <a href="https://www.youtube.com/watch?v=6OBcBGUeUVQ" target="_blank">
            <div class="song-info">
                <div class="song-title">時間外労働 (Working Overtime)</div>
                <p class="artist-name">照井順政 (Yoshimasa Terui)</p>
            </div>
        </a>
    </div>
</div>
