---
layout: base
---
{% if title %}
    <section class="page__header ml-auto mr-auto slide-up">
        <h1>{{ title }}</h1>
        <h2>{{ description }}</h2>
    </section>
{% endif %}
{{ content | safe }}
