---
layout: page
pagination:
 data: collections
 size: 1
 alias: tag
permalink: /tags/{{ tag }}/
eleventyComputed:
    title: "Tag: {{ tag }}"
---
<div class="">
    <h3 style="margin-bottom: 0.6em;" class="bold600">Here are all entries tagged “{{ tag }}”:</h3>
</div>
{% set taglist = collections[tag] | getFilterTagList %}
<ul class="article__list">
    {% for article in taglist | reverse %}
        <li class="article__item">
            <article class="article__preview">
                {% include "../_includes/components/articleListItem.njk" %}
            </article>
        </li>
    {% endfor %}
</ul>

<h4>Go back to <a href="/blog/">all entries</a>.  Or visit <a href="/writing">the writing section</a>.</h4>
