// Animations
$numberOfItems: 10; // Change this to match your actual number of items
$animationDelay: 0.18s; // Adjust the base delay as needed

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  opacity: 0;
  -webkit-animation: slideUp 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.1s both;
  animation: slideUp 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.1s both;
}

@keyframes slideUpHalf {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up-half {
  opacity: 0;
  -webkit-animation: slideUpHalf 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.1s both;
  animation: slideUpHalf 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.1s both;
}

ul.article__list {
  li.article__item {
    opacity: 0;
    -webkit-animation: slideUp 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s both;
    animation: slideUp 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s both;
  }

  @for $i from 1 through $numberOfItems {
    li.article__item:nth-child(#{$i}) {
      animation-delay: ($i) * $animationDelay;
    }
  }
}

// Path: src/assets/theming/_mixins.scss

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
