* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $main-font;
  font-size: 54%;
  scroll-behavior: smooth;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Text Rendering =========== */
  text-rendering: optimizeLegibility;


  @include breakpoint-sm {
    font-size: 63.5%;
  }
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2.5rem;
  height: 100vh;
  line-height: 127.5%;
  min-width: 300px;
  margin: 0 1em;

  @include breakpoint-sm {
    font-size: 2.3rem;
    margin: 0 1.6em 0 1.6em;
  }

  footer {
    justify-self: flex-end;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $accent-font;
  line-height: 135%;
  margin: 0 0 0.45em 0;
}

h1 {
  font-size: 4rem;
}

a {
  color: var(--text-color);
  transition: color 400ms;

  &:hover {
    color: var(--text-color-link);
  }
}

p {
  + p {
    margin-top: 1.5rem;
  }
}

nav {
  ul {
    list-style: none;
  }
}

main {
  flex: 0 1 100%;

  &:not(nav) {
    ul {
      margin: .7em 0 .7em 1em;
    }
  }

  nav {
    span {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }

  nav ul {
    margin: .2em 0 2em 0;
  }

  @include breakpoint-md {
    margin: 1em auto 2em 5em;
  }
}

header,
main,
footer {
  max-width: 1440px;
}

header,
footer {
  padding: 2em 0 .7em 0;
}

footer {
  padding-bottom: 3.5em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint-md {
    max-width: 80vw;
  }

  @include breakpoint-lg {
    max-width: 70vw;
  }
}

footer span {
  font-weight: 600;
}

nav ul li {
  display: inline-block;

  + li {
    margin-left: 1.2rem;
  }

  &.active a {
    font-weight: 600;
    text-decoration: underline;
    color: var(--text-color-link-active);
  }

  a {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 5px;
    transition: color 400ms;
  }
}

.accent-border-bottom {
  border-bottom: 2px solid var(--accent-color);
  width: fit-content;
}

.tester {
  transform: translate3d(0,-3px,0);
  box-shadow: var(--shadow-lg);
  filter: saturate(1.2);
}

blockquote {
  position: relative;
  padding: 20px;
  border-left: 10px solid var(--accent-color);
  font-weight: 600;
  margin: 3rem 0 1rem;
  line-height: 1.6;
}





