* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $main-font;
  font-size: 54%;
  scroll-behavior: smooth;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Text Rendering =========== */
  text-rendering: optimizeLegibility;


  @include breakpoint-sm {
    font-size: 63.5%;
  }
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2.75rem;
  height: 100vh;
  line-height: 127.5%;
  min-width: 300px;
  margin: 0 1em;

  @include breakpoint-sm {
    font-size: 2.3rem;
    margin: 0 1.6em;
  }

  footer {
    justify-self: flex-end;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $accent-font;
  line-height: 135%;
}

a {
  color: var(--text-color);
  transition: color 400ms;

  &:hover {
    color: var(--text-color-link);
  }
}

p {
  + p {
    margin-top: 1.5rem;
  }
}

nav {
  ul {
    list-style: none;
    padding: 0.35em 0.45em;
    border-radius: 10em;
    z-index: 20;
    background: hsl(313.8deg 54.92% 85.59% / 32%);
    backdrop-filter: blur(20px) saturate(1.7);
    -webkit-backdrop-filter: blur(20px) saturate(1.7);

    @include breakpoint-sm {
      padding: 0.5em 0.75em;
    }
  }
}

.nav__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
  row-gap: 1em;
  column-gap: 1em;

  @include breakpoint-sm {
    flex-direction: row;
  }
}

.nav__floating-buttons {
  position: relative;
}

main {
  flex: 0 1 100%;

  &:not(nav) {
    ul, ol {
      margin: .7em 0 .7em 1em;
    }
  }

  nav {
    span {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }

  nav ul {
    margin: .2em 0 2em 0;
  }

  @include breakpoint-md {
    margin: 1em auto;
  }
}

header,
main,
footer {
  max-width: 1440px;
}

header,
footer {
  padding: 2em 0 2em 0;
}

footer {
  padding-bottom: 3.5em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include breakpoint-md {
    max-width: 80vw;
  }

  @include breakpoint-lg {
    max-width: 70vw;
  }
}

footer span {
  font-weight: 600;
}

nav ul li, footer ul li {
  display: inline-block;
  font-weight: normal;

  + li {
    margin-left: 0.25rem;

    @include breakpoint-sm {
      margin-left: 1.2rem;
    }
  }

  &.active a {
    font-weight: 600;
    text-decoration: underline;
    color: var(--accent-color);
  }

  a {
    display: inline-block;
    text-decoration: none;
    padding: 0.2em 0.4em;
    border: 2px dashed transparent;
    border-radius: 1em;
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    border: 2px dashed var(--accent-color);
    transition: all 0.3s ease-in-out;
  }

  @include breakpoint-md {
    font-size: 1.1em;
  }
}

.accent-border-bottom {
  border-bottom: 2px solid var(--accent-color);
  width: fit-content;
}

.tester {
  transform: translate3d(0, -3px, 0);
  box-shadow: var(--shadow-lg);
  filter: saturate(1.2);
}

blockquote {
  position: relative;
  padding: 20px;
  border-left: 10px solid var(--accent-color);
  font-weight: 600;
  margin: 3rem 0;
  line-height: 1.6;
  font-size: 1.1em;

  a {
    color: var(--text-color-link);
    font-weight: 600;
  }

}

.blockquote-lilac {
  border-left: 10px solid var(--text-color-link);
}

.page {
  &__header {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em;

    h1 {
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 0.25em;
      line-height: 1em;

      @include breakpoint-sm {
        font-size: 3em;
      }
    }

    h2 {
      font-family: $main-font;
      font-weight: normal;
      font-size: 1em;

      @include breakpoint-sm {
        font-size: 1.3em;
      }
    }

    @include breakpoint-sm {
      margin-bottom: 3em;
    }
  }

  &__content {
    margin: 0 auto;

    @include breakpoint-lg {
      max-width: 80vw;
    }
  }
}



