.article__item {
  + .article__item {
    margin-top: 1em;
  }
}

.article__preview {
  max-width: 80ch;

  &__header {
    margin-bottom: 0.25em;
  }

  p {
    + * {
      margin-top: 0.5em;
    }

    &:first-of-type:first-letter {
      font-size: inherit;
    }
  }
}

.article__list {
  list-style: lower-greek;
}
