@import "base";

.article {
  @include breakpoint-md {
    max-width: 70vw;
  }

  @include breakpoint-lg {
    max-width: 50vw;
  }
}

.article__item {
  + .article__item {
    margin-top: 1em;
  }
}

.article__preview {
  max-width: 70ch;

  &__header {
    margin-bottom: 0.5em;
    line-height: 160%;

    a {
      text-decoration: none;

      @extend .accent-border-bottom;
    }
  }

  p {
    + * {
      margin-top: 0.5em;
    }

    &:first-of-type:first-letter {
      font-size: inherit;
    }
  }
}

.article__list {
  list-style: lower-greek;

  li:nth-child(1) {
    margin-top: 1em;
  }

  @include breakpoint-sm-plus {
    max-width: 81ch;
  }
}

