$spacing: (
        xxs: 0.25rem,
        xs: 0.5rem,
        sm: 1rem,
        md: 3rem,
        lg: 6rem,
        xl: 10rem,
        xxl: 15rem,
) !default;

@each $size, $value in $spacing {
  .spacer--#{$size} {
    margin: $value;
  }
}

@each $key, $unit in $spacing {
  .my-#{$key} {
    margin-top: $unit;
    margin-bottom: $unit;
  }

  .mx-#{$key} {
    margin-left: $unit;
    margin-right: $unit;
  }

  .mt-#{$key} {
    margin-top: $unit;
  }

  .mb-#{$key} {
    margin-bottom: $unit;
  }

  .ml-#{$key} {
    margin-left: $unit;
  }

  .mr-#{$key} {
    margin-right: $unit;
  }

}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

/* Reusable class for displaying items in columns */
.display-columns {
  display: grid;
  column-gap: 1.5em;
  row-gap: 1em;
  grid-template-columns: 1fr; /* 1 column for smaller screens */

  @include breakpoint-md-plus {
    row-gap: 2em;
    column-gap: 2em;
  }

  &--two {
    @include breakpoint-md {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for desktop */
      min-width: 70vw;
    }
  }

  &--three {
    @include breakpoint-sm {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
    }

    @include breakpoint-md {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for desktop */
    }
  }
}
