.listening-module {
  background-color: var(--background-color);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 1em;
  color: var(--text-color);
  transition: all 0.2s ease-in-out;

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 1em;
    font-weight: lighter;
  }

  .song-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.2em;
    font-family: $accent-font;
  }

  @include breakpoint-lg {
    max-width: 45vw;
  }

  .song-info {
    font-size: 80%;

    @include breakpoint-md {
      font-size: 100%;
    }
  }
}

.listening-module:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  filter: saturate(1.2);
  transition: all 0.2s ease-in-out;

  .song-title::after {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

.song-title::after {
  content: '\2924';
  margin-left: 0.25em;
  position: absolute;
  font-size: 140%;
  opacity: 0;
  transition: all 0.3s ease;
}

.song {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.album-cover {
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
}

.artist-name {
  color: var(--accent-color);
}
