
.logo {
  font-family: $accent-font;
  font-weight: 700;
  font-size: 2rem;
}

.logo a {
  svg {
    max-height: 45px;
    max-width: 55px;

    g {
      path {
        transition: all ease-in-out 0.2s;
      }
    }

    @include breakpoint-md {
      max-height: 95px;
      max-width: 95px;
    }
  }
}

// logo hoverstate dropshadow
.logo a:hover {
  svg {
    g {
      path {
        fill: var(--text-color-link) !important;
        transition: all ease-in-out 0.2s;
      }
    }
  }
}

.newspaper-svg {
  width: fit-content;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

  svg {
    width: 255px;
    height: 130px;
    margin-right: auto;
  }
}

.witch-svg {
  width: fit-content;

  svg {
    width: 180px;
    height: 381px;
    margin-right: auto;
  }
}

.svg-color {
  svg {
    g {
      path {
        fill: var(--text-color) !important;
        stroke: var(--text-color) !important;
      }
    }
  }
}

.flower-svg-container {
  position: relative;

  svg {
    g {
      path {
        fill: var(--text-color-link) !important;
        stroke: var(--text-color-link) !important;
      }
    }
  }
}

.flower-svg-top-right {
  rotate: 112deg;
  position: absolute;
  width: 90px; /* adjust as needed */
  height: 90px; /* adjust as needed */
}

.flower-svg-bottom-left {
  rotate: 5deg;
  position: absolute;
  width: 40px; /* adjust as needed */
  height: 50px; /* adjust as needed */
}

.flower-svg-bottom-left, .flower-svg-top-right {
  z-index: -2;
  filter: opacity(0.8);
}

.flower-svg-top-right {
  top: -2em;
  right: 4em;

  @include breakpoint-sm {
    right: 8em;
  }

  @include breakpoint-lg {
    right: 15em;
  }
}

.flower-svg-bottom-left {
  bottom: -1em;
  left: 4em;

  @include breakpoint-sm {
    left: 8em;
  }

  @include breakpoint-lg {
    left: 15em;
  }
}
