$accent-font: 'Besley', serif;
$main-font: 'EB Garamond', serif;
$sans-font: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

/* Theme colors */
:root {
  --background-color: #fffcf6;
  --text-color: #170808;
  --text-color-link: #d21687;
  --text-color-link-active: #012bb4;
  --text-color-link-visited: #8c0762;
  --text-color-link-hover: #6712c5;
  --accent-color: #02734e;

  --syntax-tab-size: 2;
}

//@media (prefers-color-scheme: dark) {
//  :root {
//    --background-color: #170808;
//    --text-color: #fffcf6;
//    --text-color-link: #f345aa;
//    --text-color-link-active: #2cb6ff;
//    --text-color-link-visited: #a1377e;
//    --accent-color: #17D696;
//
//  }
//}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0e0c0c;
    --text-color: #ffe872;
    --text-color-link: #76ead8;
    --text-color-link-active: #012bb4;
    --text-color-link-visited: #8c0762;
    --text-color-link-hover: #6712c5;
    --accent-color: #ef7d7d;
  }
}


// dark mode
/* Initially hide the checkbox */
.dark-mode-toggle input {
  display: none;
}

/* Style the label as a button */
.dark-mode-toggle label {
  cursor: pointer;
  background-color: #eee;
  border: 2px solid #333;
  padding: 5px 10px;
  border-radius: 20px;
}
