---
layout: page
pagination:
  data: collections.categoryList
  size: 1
  alias: cat
permalink: "/blog/{{ cat.key }}/"
eleventyComputed:
  title: Articles categorized under "{{ cat.name }}"
tags: blog
---


<h1>{{ title }}</h1>

{% set articles = collections.categorisedPosts[cat.key] | reverse %}
{% include "./_includes/components/articleList.njk" %}
