---
layout: page
title: "Climbing"
description: "Up down up down up down"
tags: nav
---
{% set taglist = collections.climbing | getFilterTagList %}
<ul class="article__list display-columns display-columns--two">
    {% for article in taglist | reverse %}
        <li class="article__item">
            <article class="article__preview">
                {% include "./_includes/components/articleListItem.njk" %}
            </article>
        </li>
    {% endfor %}
</ul>
