---
layout: page
eleventyNavigation:
  key: home
  order: 1
templateEngineOverride: njk, md
title: Parth Shiralkar
description: >
    Developer. Author. Likes daal.
---

{%  include "components/nowPlaying.njk" %}

<div class="mt-lg"></div>

### I [write](/blog) every now and then. Here's a featured article:

<section class="mb-lg">
{%  include "components/featuredArticle.njk" %}
</section>

### An archive of two most recent iterations of my site:

{%  include "components/archiveProjectCards.njk" %}

<div class="display-columns display-columns--three">
<div class="mt-lg ml-auto mr-auto">
    <a class="button button--primary">Primary Button</a>
</div>

<div class="mt-lg ml-auto mr-auto">
    <a class="button button--secondary">Secondary Button</a>
</div>
<div class="mt-lg ml-auto mr-auto">
    <a class="button button--tertiary">Tertiary Button</a>
</div>
</div>


> Test 404 Error Page: [Not A Valid Link Here](/404.html)


