---
layout: page
eleventyNavigation:
  key: home
  order: 1
templateEngineOverride: njk, md
tags:
    - nav
title: Parth Shiralkar
description: >
    Temporal Harmony Garden: My personal website
---



> Test 404 Error Page: [Not A Valid Link Here](/404.html)


{%  include "components/nowPlaying.njk" %}

<div class="mt-lg"></div>

## An archive of recent projects:

{%  include "components/archiveProjectCards.njk" %}

