---
layout: page
title: "Writing"
description: "Places for words and tomes"
tags: nav
eleventyNavigation:
  key: writing
  order: 2
---
{% set taglist = collections.writing | getFilterTagList %}
<ul class="article__list display-columns display-columns--two">
  {% for article in taglist | reverse %}
    <li class="article__item">
      <article class="article__preview">
        {% include "./_includes/macros/articleListItem.njk" %}
      </article>
    </li>
  {% endfor %}
</ul>
